


<!-- Navbar -->
<mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
            [containerInside]="false">


    <navlinks>
        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
            <li class="nav-item" >
                <a class="dropdown-item" (click)="onLogout()">Link 1</a>
            </li>
            <ng-container *ngIf="(user$ | async)?.email">
                <li class="nav-item dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="user"></mdb-icon>
                        {{(user$ | async).email}}

                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a class="dropdown-item" (click)="goToProfile()">Profil</a>
                        <a class="dropdown-item" (click)="onLogout()">Kilépés</a>
                    </div>
                </li>
            </ng-container>
            <ng-container *ngIf="!(user$ | async) || !(user$ | async)?.email">

                <li class="nav-item dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" (click)="goToLogin()" class="nav-link dropdown-toggle waves-light"  mdbWavesEffect>
                        <mdb-icon fas icon="user"></mdb-icon>
                        [Belépés] / [Regisztráció]

                    </a>
                </li>

            </ng-container>
        </ul>
    </navlinks>
</mdb-navbar>
<!--/. Navbar -->

<router-outlet></router-outlet>
<!-- Footer -->

