.bull-satisfied {
  background-color: #4dbd74;
}

.bull-not-satisfied {
  color: #4dbd74;
}

.bear-satisfied {
  background-color: #f86c6b;
}

.bear-not-satisfied {
  color: #f86c6b;
}

.divider {
  padding-left: 8px;
  padding-right: 8px;
}

.symbol-input {
  width: 150px;
}

.back-icon {
  margin-bottom: 18px;
  margin-left: 1px;
}

.symbol-button {
  margin: 5px;
}
