<div class="fade-in">
    <c-card>
        <c-card-body>
            <ag-grid-angular
                    style="max-width: 2000px; height: 500px;"
                    class="ag-theme-alpine"
                    [pagination]="true"
                    [defaultColDef]="defaultColDef"
                    [rowData]="rowData | async"
                    [columnDefs]="columnDefs"
                    [frameworkComponents]="frameworkComponents"
            >
            </ag-grid-angular>
        </c-card-body>
        <c-card-footer>
        </c-card-footer>
    </c-card>
</div>
