<div class="fade-in">
    <c-card>
        <c-card-body>
            <div class="page-size-header">
                Page Size:
                <select (change)="onPageSizeChanged()" id="page-size">
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option selected="100" value="100">100</option>
                    <option value="1000">1000</option>
                </select>
            </div>
            <ng-container *ngIf="!isLoading">
                <ag-grid-angular
                        (gridReady)="onGridReady($event)"
                        [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef"
                        [enableCellTextSelection]="true"
                        [frameworkComponents]="frameworkComponents"
                        [pagination]="true"
                        [rowData]="rowData"
                        class="ag-theme-alpine"
                        style="max-width: 2000px; height: 800px;"
                >
                </ag-grid-angular>
            </ng-container>
            <ng-container *ngIf="isLoading">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-container>
        </c-card-body>
        <c-card-footer>
        </c-card-footer>
    </c-card>
</div>
