<div class="fade-in">
    <c-row class="back-icon">
        <a [routerLink]="['/entries']"> <i class="cil-arrow-thick-to-left fa-2x"></i></a>
    </c-row>
    <!--    POSITION DETAILS START-->
    <c-row>
        <c-col md="12">
            <c-card>
                <c-card-header>
                    Position
                </c-card-header>
                <ng-container *ngIf="isLoading">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isLoading">
                    <c-card-body>
                        <ng-container *ngIf="!isPositionEmpty">
                            <c-row>
                                <c-col sm="6">
                                    <c-row>
                                        <c-col sm="3">
                                            <c-callout [color]="sideColor">
                                                <small class="text-muted">Symbol</small>
                                                <br>
                                                <strong class="h4">{{position?.symbol}}</strong>
                                            </c-callout>
                                        </c-col>
                                        <c-col sm="3">
                                            <c-callout [color]="sideColor">
                                                <small class="text-muted">Size</small>
                                                <br>
                                                <strong class="h4">{{getPositionSize() | price}}</strong>
                                            </c-callout>
                                        </c-col>
                                        <c-col sm="3">
                                            <c-callout [color]="sideColor">
                                                <small class="text-muted">Entry Price</small>
                                                <br>
                                                <strong class="h4">{{position?.entryPrice | price}}</strong>
                                            </c-callout>
                                        </c-col>
                                        <c-col sm="3">
                                            <c-callout [color]="sideColor">
                                                <small class="text-muted">Mark Price</small>
                                                <br>
                                                <strong class="h4">{{position?.markPrice | price}}</strong>
                                            </c-callout>
                                        </c-col>
                                    </c-row>

                                </c-col>
                                <c-col sm="6">
                                    <c-row>
                                        <c-col sm="3">
                                            <c-callout [color]="sideColor">
                                                <small class="text-muted">Liq. Price</small>
                                                <br>
                                                <strong class="h4">{{position?.liquidationPrice | price}}</strong>
                                            </c-callout>
                                        </c-col>
                                        <c-col sm="3">
                                            <c-callout [color]="sideColor">
                                                <small class="text-muted">Margin</small>
                                                <br>
                                                <strong class="h4">{{position?.isolatedMargin}}</strong>
                                            </c-callout>
                                        </c-col>
                                        <c-col sm="3">
                                            <c-callout [color]="sideColor">
                                                <small class="text-muted">PNL (ROE %)</small>
                                                <br>
                                                <strong class="h4">{{position?.unRealizedProfit | price}}
                                                    ({{getRoe() | percent}})</strong>
                                            </c-callout>
                                        </c-col>
                                    </c-row>

                                </c-col>
                            </c-row>
                        </ng-container>
                        <ng-container *ngIf="isPositionEmpty">
                            There is no current position
                        </ng-container>

                        <br>
                    </c-card-body>
                </ng-container>
            </c-card>
        </c-col>

    </c-row>
    <!--    POSITION DETAILS END-->
    <!--    ENTRY DETAILS START-->
    <c-row>
        <c-col md="12">
            <c-card>
                <c-card-header>
                    Entry Details
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col sm="12">
                            <c-row>
                                <c-col sm="3">
                                    <c-callout [color]="'info'">
                                        <small class="text-muted">ID</small>
                                        <br>
                                        <strong class="h4">{{entry?.id}}</strong>
                                    </c-callout>
                                </c-col>
                            </c-row>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col sm="12">
                            <c-row>
                                <c-col sm="3">
                                    <c-callout [color]="'info'">
                                        <small class="text-muted">Exchange</small>
                                        <br>
                                        <strong class="h4">{{entry?.exchange}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Strategy Id</small>
                                        <br>
                                        <strong class="h4">{{entry?.strategyId}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Symbol</small>
                                        <br>
                                        <strong class="h4">{{entry?.symbol}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Side</small>
                                        <br>
                                        <strong class="h4">{{entry?.side}}</strong>
                                    </c-callout>
                                </c-col>
                            </c-row>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col sm="12">
                            <c-row>
                                <c-col sm="3">
                                    <c-callout [color]="'info'">
                                        <small class="text-muted">Is Active?</small>
                                        <br>
                                        <strong class="h4">{{entry?.isActive}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Start Date</small>
                                        <br>
                                        <strong class="h4">{{entry?.startDate | date: "medium"}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">End Date</small>
                                        <br>
                                        <strong class="h4">{{entry?.endDate | date: "medium"}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Duration</small>
                                        <br>
                                        <strong class="h4">{{calculateDuration()}}</strong>
                                    </c-callout>
                                </c-col>
                            </c-row>
<!--                            <hr class="mt-0">-->
                        </c-col>
                    </c-row>
                    <br>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--    ENTRY DETAILS END-->
    <!--    ENTRY REPORT DETAILS START-->
    <c-row>
        <c-col md="12">
            <c-card>
                <c-card-header>
                    Entry Report Details
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col sm="12">
                            <c-row>
                                <c-col sm="3">
                                    <c-callout [color]="'info'">
                                        <small class="text-muted">Enter price</small>
                                        <br>
                                        <strong class="h4">{{getDollarValue(entry?.entryReport.enterPrice)}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Exit price</small>
                                        <br>
                                        <strong class="h4">{{getDollarValue(entry?.entryReport.exitPrice)}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Leverage</small>
                                        <br>
                                        <strong class="h4">{{entry?.entryReport.leverage}}X</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Max Dollar Amount</small>
                                        <br>
                                        <strong class="h4">{{getDollarValue(entry?.entryReport.maxDollarAmount)}}</strong>
                                    </c-callout>
                                </c-col>
                            </c-row>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col sm="12">
                            <c-row>
                                <c-col sm="3">
                                    <c-callout [color]="'info'">
                                        <small class="text-muted">Original quantity</small>
                                        <br>
                                        <strong class="h4">{{entry?.entryReport.origQuantity}} {{entry?.symbol}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Real Cost</small>
                                        <br>
                                        <strong class="h4">{{getDollarValue(entry?.entryReport.realCost)}}</strong>
                                    </c-callout>
                                </c-col>
                            </c-row>
                        </c-col>
                    </c-row>
                    <hr class="mt-0">
                    <c-row>
                        <c-col sm="12">
                            <c-row>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Realized PNL</small>
                                        <br>
                                        <strong class="h4">{{getDollarValue(entry?.entryReport?.incomeHistory.realizedPnl)}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout [color]="'info'">
                                        <small class="text-muted">Commission</small>
                                        <br>
                                        <strong class="h4">{{getDollarValue(entry?.entryReport?.incomeHistory.commission)}}</strong>
                                    </c-callout>
                                </c-col>
                                <c-col sm="3">
                                    <c-callout color="info">
                                        <small class="text-muted">Funding Fee</small>
                                        <br>
                                        <strong class="h4">{{getDollarValue(entry?.entryReport?.incomeHistory.fundingFee)}}</strong>
                                    </c-callout>
                                </c-col>
                            </c-row>
                        </c-col>
                    </c-row>
                    <br>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--    ENTRY REPORT DETAILS END-->
    <!--    ORDER DETAILS START-->
    <c-row>
        <c-col md="12">
            <c-card>
                <c-card-header>
                    Orders Details
                </c-card-header>
                <c-card-body>
                    <ng-container *ngIf="isLoading">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </ng-container>
                    <h5>Orders in the Database</h5>
                    <ng-container *ngIf="!isLoading">
                        <table class="table table-hover table-striped table-align-middle mb-0 order-table">
                            <thead>
                            <th>Type</th>
                            <th>Orig Type</th>
                            <th>Executed Price</th>
                            <th>Executed Quantity</th>
                            <th>Close Position</th>
                            <th>Full Size</th>
                            <th>Order Id</th>
                            <th>Original Qty</th>
                            <th>Reduce Only</th>
                            <th>Time In force</th>
                            <th>Side</th>
                            <th>Status</th>
                            <th>Stop Price</th>
                            <th>Update Time</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let order of entryOrders?.actualOrders">
                                <td>{{order?.type}}</td>
                                <td>{{order?.origType}}</td>
                                <td>{{order?.avgPrice}}</td>
                                <td>{{order?.executedQty}}</td>
                                <td>{{order?.closePosition}}</td>
                                <td>{{getDollarValueStr(order?.cumQuote)}}</td>
                                <td>{{order?.orderId}}</td>
                                <td>{{order?.origQty}}</td>
                                <td>{{order?.reduceOnly}}</td>
                                <td>{{order?.timeInForce}}</td>
                                <td>{{order?.side}}</td>
                                <td>{{order?.status}}</td>
                                <td>{{getDollarValueStr(order?.stopPrice)}}</td>
                                <td>{{order?.updateTime | date: "medium"}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-container>
                    <hr class="mt-0">
                    <h5 class="divide">Orders in the Exchange</h5>
                    <ng-container *ngIf="!isLoading">
                        <table class="table table-hover table-striped table-align-middle mb-0 order-table">
                            <thead>
                            <th>Type</th>
                            <th>Orig Type</th>
                            <th>Executed Price</th>
                            <th>Executed Quantity</th>
                            <th>Close Position</th>
                            <th>Full Size</th>
                            <th>Order Id</th>
                            <th>Original Qty</th>
                            <th>Reduce Only</th>
                            <th>Time In force</th>
                            <th>Side</th>
                            <th>Status</th>
                            <th>Stop Price</th>
                            <th>Update Time</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let order of entryOrders?.openOrders">
                                <td>{{order.type}}</td>
                                <td>{{order.origType}}</td>
                                <td>{{order.avgPrice}}</td>
                                <td>{{order.executedQty}}</td>
                                <td>{{order.closePosition}}</td>
                                <td>{{getDollarValueStr(order.cumQuote)}}</td>
                                <td>{{order.orderId}}</td>
                                <td>{{order.origQty}}</td>
                                <td>{{order.reduceOnly}}</td>
                                <td>{{order.timeInForce}}</td>
                                <td>{{order.side}}</td>
                                <td>{{order.status}}</td>
                                <td>{{getDollarValueStr(order.stopPrice)}}</td>
                                <td>{{order.updateTime | date: "medium"}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-container>


                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--    ORDER DETAILS END-->
</div>
