<div class="fade-in">
    <c-row class="back-icon">
        <a [routerLink]="['/entries']"> <i class="cil-arrow-thick-to-left fa-2x"></i></a>
    </c-row>
    <c-row>
        <c-col md="12">
            <c-card>
                <c-card-header>
                    Position
                </c-card-header>
                <c-card-body>
                    <ng-container *ngIf="!isPositionEmpty">
                        <c-row>
                            <c-col sm="6">
                                <c-row>
                                    <c-col sm="3">
                                        <c-callout [color]="sideColor">
                                            <small class="text-muted">Symbol</small>
                                            <br>
                                            <strong class="h4">{{position?.symbol}}</strong>
                                        </c-callout>
                                    </c-col>
                                    <c-col sm="3">
                                        <c-callout [color]="sideColor">
                                            <small class="text-muted">Size</small>
                                            <br>
                                            <strong class="h4">{{getPositionSize() | price}}</strong>
                                        </c-callout>
                                    </c-col>
                                    <c-col sm="3">
                                        <c-callout [color]="sideColor">
                                            <small class="text-muted">Entry Price</small>
                                            <br>
                                            <strong class="h4">{{position?.entryPrice | price}}</strong>
                                        </c-callout>
                                    </c-col>
                                    <c-col sm="3">
                                        <c-callout [color]="sideColor">
                                            <small class="text-muted">Mark Price</small>
                                            <br>
                                            <strong class="h4">{{position?.markPrice | price}}</strong>
                                        </c-callout>
                                    </c-col>
                                </c-row>

                            </c-col>
                            <c-col sm="6">
                                <c-row>
                                    <c-col sm="3">
                                        <c-callout [color]="sideColor">
                                            <small class="text-muted">Liq. Price</small>
                                            <br>
                                            <strong class="h4">{{position?.markPrice | price}}</strong>
                                        </c-callout>
                                    </c-col>
                                    <c-col sm="3">
                                        <c-callout [color]="sideColor">
                                            <small class="text-muted">Margin</small>
                                            <br>
                                            <strong class="h4">{{position?.isolatedMargin}}</strong>
                                        </c-callout>
                                    </c-col>
                                    <c-col sm="3">
                                        <c-callout [color]="sideColor">
                                            <small class="text-muted">PNL (ROE %)</small>
                                            <br>
                                            <strong class="h4">{{position?.unRealizedProfit | price}} ({{getRoe() | percent}})</strong>
                                        </c-callout>
                                    </c-col>
                                    <c-col sm="3">
                                        <c-callout [color]="sideColor">
                                            <small class="text-muted">Margin</small>
                                            <br>
                                            <strong class="h4">{{position?.isolatedMargin | price}}</strong>
                                        </c-callout>
                                    </c-col>
                                </c-row>

                            </c-col>
                        </c-row>
                    </ng-container>
                    <ng-container *ngIf="isPositionEmpty">
                        There is no current position
                    </ng-container>

                    <br>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</div>
