<div class="fade-in">

    <c-card>
        <c-card-body>
            <c-row>
                <c-col sm="5">
                    <h4 class="card-title mb-0">Profit statistic</h4>
                    <div class="small text-muted"></div>
                </c-col>

            </c-row>
            <ng-container>
                <div class="c-chart-wrapper" style="height:300px;margin-top:40px;margin-bottom: 50px"  [@.disabled]="true" *ngIf="!isLoading">
                    <ag-charts-angular
                            style="height: 100px"
                            [options]="options"
                    ></ag-charts-angular>
                </div>
            </ng-container>
            <ng-container *ngIf="isLoading">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-container>
        </c-card-body>
    </c-card>
</div>
