<div class="fade-in" *ngIf="!isDashboardInfoFtxLoading && !isDashboardInfoBinanceLoading && !isAllEntriesLoading">

<!--    General info windows START -->

    <c-row>
        <c-col sm="6" lg="3">
            <c-widget-dropdown
                    color="gradient-info"
                    header="{{getDollarValue(dashboardInfo.ftxBalance)}}"
                    text="FTX balance"
            >
                <div slot="footer">
                    <div
                            class="c-chart-wrapper mt-3 mx-3"
                            style="height: 70px;"
                            [@.disabled]="true"
                    >
                        <img src="assets/img/app/ftx-log.jpg">
                    </div>
                </div>
            </c-widget-dropdown>
        </c-col>
        <c-col sm="6" lg="3">
            <c-widget-dropdown
                    color="gradient-warning"
                    header="{{getDollarValue(dashboardInfo.binanceBalance)}}"
                    text="Binance balance"
            >
                <div slot="footer">
                    <div
                            class="c-chart-wrapper mt-3"
                            style="height: 70px; padding-left: 20px;"
                            [@.disabled]="true"
                    >
                        <img src="assets/img/app/binance-logo.jpg">
                    </div>
                </div>
            </c-widget-dropdown>

        </c-col>
        <c-col sm="6" lg="3">
            <c-widget-dropdown
                    color="gradient-primary"
                    header="{{calculateNoOfUsedStrategy()}}"
                    text="Number of Used Strategies"
            >
                <div slot="footer">
                    <div
                            class="c-chart-wrapper mt-3 mx-3"
                            style="height: 70px;"
                            [@.disabled]="true"
                    >
                        <canvas
                                cNoZoneBaseChart
                                class="chart"
                                height="70"
                                [datasets]="chart[0].data"
                                [labels]="chart[0].labels"
                                [options]="chart[0].options"
                                [colors]="chart[0].colors"
                                [chartType]="chart[0].type"
                        >
                        </canvas>
                    </div>
                </div>
            </c-widget-dropdown>
        </c-col>
        <c-col sm="6" lg="3">
            <c-widget-dropdown
                    color="gradient-danger"
                    header="{{calculateNoOfUsedCryptos()}}"
                    text="Number of Used Cryptos"
            >

                <div slot="footer">
                    <div
                            class="c-chart-wrapper mt-3 mx-3"
                            style="height: 70px;"
                            [@.disabled]="true"
                    >
                        <canvas
                                cNoZoneBaseChart
                                class="chart"
                                height="70"
                                [datasets]="chart[3].data"
                                [labels]="chart[3].labels"
                                [options]="chart[3].options"
                                [colors]="chart[3].colors"
                                [chartType]="chart[3].type"
                        >
                        </canvas>
                    </div>
                </div>
            </c-widget-dropdown>
        </c-col>
    </c-row>
<!--    General info windows END -->

<!--  Used Symbol Prices  START -->
    <c-row>
        <c-col md="3" sm="6" *ngFor="let priceItem of dashboardInfo.currentSymbolPrices">
            <c-widget-brand
                    color="facebook"
                    rightHeader="{{priceItem.symbol}}"
                    rightFooter="Symbol"
                    leftHeader="{{getDollarValue(priceItem.price)}}"
                    leftFooter="Current Price"
            >
            </c-widget-brand>
        </c-col>
    </c-row>

<!--  Used Symbol Prices  END -->

    <c-row>
        <c-col col="12" md="6">
            <c-card>
                <c-card-header>
                    Sum Profit (All Strategies)
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col sm="5">
                            <h4 class="card-title mb-0">Profit statistic</h4>
                            <div class="small text-muted"></div>
                        </c-col>

                    </c-row>
                    <ng-container>
                        <div class="c-chart-wrapper" style="height:300px;margin-top:40px;margin-bottom: 50px"  [@.disabled]="true">
                            <ag-charts-angular
                                    style="height: 100px"
                                    [options]="sumProfitOptions"
                            ></ag-charts-angular>
                        </div>
                    </ng-container>
                </c-card-body>
            </c-card>
        </c-col>
        <c-col col="12" md="6">
            <c-card>
                <c-card-header>
                    Sum Profit in % (All Strategies)
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col sm="5">
                            <h4 class="card-title mb-0">Profit statistic in %</h4>
                            <div class="small text-muted"></div>
                        </c-col>

                    </c-row>
                    <ng-container>
                        <div class="c-chart-wrapper" style="height:300px;margin-top:40px;margin-bottom: 50px"  [@.disabled]="true">
                            <div class="progress-group">
                                <div class="progress-group-header align-items-end">
                                    <c-icon name="cil-hand-point-up" customClasses="c-icon progress-group-icon" ></c-icon>
                                    <div>Profit</div>
                                    <div class="mfs-auto font-weight-bold mfe-2">{{formatDollarAmount(profitLossArray[0].amount)}}</div>
                                    <div class="text-muted small">({{calculatePercentFromProfitLossStr(profitLossArray[0].amount)}})</div>
                                </div>
                                <div class="progress-group-bars">
                                    <c-progress size="xs">
                                        <c-progress-bar color="success" [value]="calculatePercentFromProfitLoss(profitLossArray[0].amount)"></c-progress-bar>
                                    </c-progress>
                                </div>
                            </div>
                            <div class="progress-group">
                                <div class="progress-group-header align-items-end">
                                    <c-icon name="cil-hand-point-down" customClasses="c-icon progress-group-icon" ></c-icon>
                                    <div>Loss</div>
                                    <div class="mfs-auto font-weight-bold mfe-2">{{formatDollarAmount(profitLossArray[1].amount)}}</div>
                                    <div class="text-muted small">({{calculatePercentFromProfitLossStr(profitLossArray[1].amount)}})</div>
                                </div>
                                <div class="progress-group-bars">
                                    <c-progress size="xs">
                                        <c-progress-bar color="danger" [value]="calculatePercentFromProfitLoss(profitLossArray[1].amount)"></c-progress-bar>
                                    </c-progress>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col col="12">
            <c-card>
                <c-card-header>
                    Strategy Profits
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col sm="5">
                            <h4 class="card-title mb-0">Profit statistic</h4>
                            <div class="small text-muted"></div>
                        </c-col>

                    </c-row>
                    <ng-container>
                        <div class="c-chart-wrapper" style="height:300px;margin-top:40px;margin-bottom: 50px"  [@.disabled]="true">
                            <ag-charts-angular
                                    style="height: 100%"
                                    [options]="strategyOptions"
                            ></ag-charts-angular>
                        </div>
                    </ng-container>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col col="12">
            <c-card>
                <c-card-header>
                    Strategy Profits in percents
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col sm="5">
                            <h4 class="card-title mb-0">Profit statistic in percents</h4>
                            <h5 class="card-title mb-0">(ordered by profit percent success)</h5>
                            <div class="small text-muted"></div>
                        </c-col>
                    </c-row>
                    <ng-container>
                        <div class="c-chart-wrapper" style="height: auto;margin-top:40px;margin-bottom: 50px"  [@.disabled]="true">
                            <ng-container *ngFor="let strategyData of strategyProfitData">
                                <h5 class="card-title mb-0 strat-title">Strategy: {{strategyData.strategy}}</h5>
                                <h6 class="card-title mb-0 strat-title">Symbols: {{populateStrategySymbolList(strategyData.strategy)}}</h6>

                                <div class="progress-group">

                                    <div class="progress-group-header align-items-end">
                                        <c-icon name="cil-hand-point-up" customClasses="c-icon progress-group-icon" ></c-icon>
                                        <div>Profit</div>
                                        <div class="mfs-auto font-weight-bold mfe-2">{{formatDollarAmount(strategyData.profit)}}</div>
                                        <div class="text-muted small">({{calculateStrategyPercentFromProfitLossStr(strategyData.profit, strategyData)}})</div>
                                    </div>
                                    <div class="progress-group-bars">
                                        <c-progress size="xs">
                                            <c-progress-bar color="success" [value]="calculateStrategyPercentFromProfitLoss(strategyData.profit, strategyData)"></c-progress-bar>
                                        </c-progress>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    <div class="progress-group-header align-items-end">
                                        <c-icon name="cil-hand-point-down" customClasses="c-icon progress-group-icon" ></c-icon>
                                        <div>Loss</div>
                                        <div class="mfs-auto font-weight-bold mfe-2">{{formatDollarAmount(strategyData.loss)}}</div>
                                        <div class="text-muted small">({{calculateStrategyPercentFromProfitLossStr(strategyData.loss, strategyData)}})</div>
                                    </div>
                                    <div class="progress-group-bars">
                                        <c-progress size="xs">
                                            <c-progress-bar color="danger" [value]="calculateStrategyPercentFromProfitLoss(strategyData.loss, strategyData)"></c-progress-bar>
                                        </c-progress>
                                    </div>
                                </div>
                                <c-row class="text-center">
                                    <c-col sm="12" [md]="true" class="mb-sm-2 mb-0">
                                        <div class="text-muted">Number of cycles</div>
                                        <strong>{{calculateNoOfCycles(strategyData.strategy)}}</strong>
                                    </c-col>
                                    <c-col sm="12" [md]="true" class="mb-sm-2 mb-0">
                                        <div class="text-muted">Number of win cycles</div>
                                        <strong>{{calculateNoOfWinCycles(strategyData.strategy)}}</strong>
                                    </c-col>
                                    <c-col sm="12" [md]="true" class="mb-sm-2 mb-0">
                                        <div class="text-muted">Duration</div>
                                        <strong>{{calculateStrategyDurationTime(strategyData.strategy)}}</strong>
                                    </c-col>
                                    <c-col sm="12" [md]="true" class="mb-sm-2 mb-0">
                                        <div class="text-muted">From - Till</div>
                                        <strong>{{calculateStrategyStartTime(strategyData.strategy) | date: 'medium'}}
                                            - {{calculateStrategyEndTime(strategyData.strategy) | date: 'medium'}}</strong>

                                    </c-col>
                                    <c-col sm="12" [md]="true" class="mb-sm-2 mb-0">
                                        <div class="text-muted">Used Dollar</div>
                                        <strong>{{calculateAllUsedDollar(strategyData.strategy)}}</strong>
                                    </c-col>
                                </c-row>

                                <hr class="strat-line" />
                            </ng-container>
                        </div>
                    </ng-container>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</div>

<ng-container *ngIf="isDashboardInfoFtxLoading || isDashboardInfoBinanceLoading || isAllEntriesLoading">
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="isDashboardInfoFtxLoading">Dashboard info from FTX is loading IN PROGRESS</div>
    <div *ngIf="!isDashboardInfoFtxLoading">Dashboard info from FTX is loading IS DONE</div>
    <div *ngIf="isDashboardInfoBinanceLoading">Dashboard info from Binance is loading IN PROGRESS</div>
    <div *ngIf="!isDashboardInfoBinanceLoading">Dashboard info from Binance is loading IS DONE</div>
    <div *ngIf="isAllEntriesLoading">Entries from Flipcoin is loading IN PROGRESS</div>
    <div *ngIf="!isAllEntriesLoading">Entries from Flipcoin is loading IS DONE</div>
</ng-container>

