<form #strategyFormRef (ngSubmit)="onSubmit(strategyForm.value)" [formGroup]="strategyForm" class="form-horizontal"
      method="post">
    <c-row>
        <c-col sm="12">
            <c-card>
                <c-card-header>
                    <strong *ngIf="isEdit">Update Strategy</strong>
                    <strong *ngIf="!isEdit">Create Strategy</strong>
                </c-card-header>
                <c-card-body>
                    <!--                        Is Active CHECKBOX-->
                    <c-row>
                        <c-form-group cCol sm="2">
                            Is Active
                        </c-form-group>

                        <c-form-group cCol sm="3">
                            <c-form-check variant="checkbox">
                                <input cInput formControlName="isActive" id="isActive" type="checkbox" value="option1">
                            </c-form-check>
                        </c-form-group>
                    </c-row>
                    <!--                        STRATEGY ID-->
                    <c-row>
                        <c-form-group cCol sm="2">
                            Strategy Id
                        </c-form-group>

                        <c-form-group cCol sm="3">
                            <c-input-group>
                                <c-input-group-prepend>
                                    <c-input-group-text>
                                        <c-icon name="cil-lightbulb"></c-icon>
                                    </c-input-group-text>
                                </c-input-group-prepend>
                                <input (change)="restoreStrategyId()" [ngClass]="{ 'is-invalid':  (submitted || ctrls?.strategyId.touched) && ctrls?.strategyId.invalid, 'is-valid': ctrls?.strategyId.touched && ctrls?.strategyId.valid }"
                                       cInput
                                       formControlName="strategyId"
                                       id="input1-group1"
                                       max="30"
                                       name="input1-group1"
                                       placeholder="Strategy Id (Cannot be changed after creation)">
                            </c-input-group>
                            <div *ngIf="strategyForm.get('strategyId').errors?.required && !strategyForm.get('strategyId').pristine"
                                 class="alert alert-danger">
                                Strategy Id is required
                            </div>
                            <div *ngIf="strategyForm.get('strategyId').errors?.pattern && !strategyForm.get('strategyId').pristine"
                                 class="alert alert-danger">
                                Strategy Id can contain only numbers, letters, - and _ characters.
                            </div>
                            <div *ngIf="strategyForm.get('strategyId').errors?.minlength && !strategyForm.get('strategyId').pristine"
                                 class="alert alert-danger">
                                Strategy Id must be at least 3 characters.
                            </div>
                            <div *ngIf="strategyForm.get('strategyId').errors?.maxlength && !strategyForm.get('strategyId').pristine"
                                 class="alert alert-danger">
                                Strategy Id must be maximum 30 characters.
                            </div>
                            <div *ngIf="strategyForm.get('strategyId').errors?.srategyIdExists && !strategyForm.get('strategyId').pristine"
                                 class="alert alert-danger">
                                Strategy Id must be unique
                            </div>
                        </c-form-group>
                    </c-row>
                    <!--                        STRATEGY DESCRIPTION-->
                    <c-row>
                        <c-form-group cCol sm="2">
                            Strategy Description
                        </c-form-group>

                        <c-form-group cCol sm="3">
                            <c-input-group>
                                <c-input-group-prepend>
                                    <c-input-group-text>
                                        <c-icon name="cil-description"></c-icon>
                                    </c-input-group-text>
                                </c-input-group-prepend>
                                <textarea [ngClass]="{ 'is-invalid':  (submitted || ctrls?.strategyId.touched) && ctrls?.strategyDesc.invalid, 'is-valid': ctrls?.strategyDesc.touched && ctrls?.strategyDesc.valid }" cTextarea
                                          formControlName="strategyDesc" id="strategyDescription"
                                          name="strategyDescription"
                                          placeholder="Strategy Description"
                                          rows="7">

                                        </textarea>
                                <div *ngIf="strategyForm.get('strategyDesc').errors?.required && !strategyForm.get('strategyDesc').pristine"
                                     class="alert alert-danger">
                                    Strategy Description is required
                                </div>
                            </c-input-group>
                        </c-form-group>
                    </c-row>
                    <!--                        STOP LOSS PERCENT-->
                    <c-row>
                        <c-form-group cCol sm="2">
                            SL %
                        </c-form-group>

                        <c-form-group cCol sm="3">
                            <c-col md="12">
                                <div class="center">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-number" (click)="decreaseNumberField('stopLossPerc', 1, true)" type="button">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </span>
                                        <input [ngClass]="{ 'is-invalid':  (submitted || ctrls?.stopLossPerc.touched) && ctrls?.stopLossPerc.invalid, 'is-valid': ctrls?.stopLossPerc.touched && ctrls?.stopLossPerc.valid }"
                                               formControlName="stopLossPerc"
                                               id="input2-group1"
                                               name="input2-group1"
                                               placeholder="Stop Loss Percent"
                                               step="1"
                                               type="text"
                                               class="number-input">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-number" (click)="increaseNumberField('stopLossPerc', 1, true)" type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div *ngIf="strategyForm.get('stopLossPerc').errors?.required && !strategyForm.get('stopLossPerc').pristine"
                                     class="alert alert-danger">
                                    Stop Loss Percent is required
                                </div>
                            </c-col>

                        </c-form-group>
                    </c-row>
                    <!--                        TAKE PROFIT PERCENT-->
                    <c-row>
                        <c-form-group cCol sm="2">
                            TP %
                        </c-form-group>

                        <c-form-group cCol sm="3">
                            <c-col md="12">
                                <div class="center">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-number" (click)="decreaseNumberField('takeProfitPerc', 1, true)" type="button">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </span>
                                        <input [ngClass]="{ 'is-invalid':  (submitted || ctrls?.takeProfitPerc.touched) && ctrls?.takeProfitPerc.invalid, 'is-valid': ctrls?.takeProfitPerc.touched && ctrls?.takeProfitPerc.valid }"
                                               formControlName="takeProfitPerc"
                                               id="input4-group1"
                                               name="input4-group1"
                                               placeholder="Take Profit Percent"
                                               step="1"
                                               type="text"
                                               class="number-input">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-number" (click)="increaseNumberField('takeProfitPerc', 1, true)" type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div *ngIf="strategyForm.get('takeProfitPerc').errors?.required && !strategyForm.get('takeProfitPerc').pristine"
                                     class="alert alert-danger">
                                    Take Profit Percent is required
                                </div>
                            </c-col>
                        </c-form-group>
                    </c-row>
                    <!--                    TRAILING STOP LOSS PERCENT-->
                    <c-row>
                        <c-form-group cCol sm="2">
                            Trailing Stop %
                        </c-form-group>

                        <c-form-group cCol sm="3">
                            <c-col md="12">
                                <div class="center">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-number" (click)="decreaseNumberField('trailingStopPerc', 1, true)" type="button">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </span>
                                        <input formControlName="trailingStopPerc"
                                               id="input3-group1"
                                               name="input3-group1"
                                               placeholder="Trailing Stop Loss Percent"
                                               step="1"
                                               type="text"
                                               class="number-input">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-number" (click)="increaseNumberField('trailingStopPerc', 1, true)" type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </c-col>
                        </c-form-group>
                    </c-row>
                    <!--                    MAX DOLLAR AMOUNT -->
                    <c-row>
                        <c-form-group cCol sm="2">
                            Max $
                        </c-form-group>

                        <c-form-group cCol sm="3">
                            <c-col md="12">
                                <div class="center">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-number" (click)="decreaseNumberField('maxDollarAmount', 100, false)" type="button">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </span>
                                        <input [ngClass]="{ 'is-invalid':  (submitted || ctrls?.maxDollarAmount.touched) && ctrls?.maxDollarAmount.invalid, 'is-valid': ctrls?.maxDollarAmount.touched && ctrls?.maxDollarAmount.valid }"
                                               formControlName="maxDollarAmount"
                                               id="input5-group1"
                                               name="input5-group1"
                                               placeholder="Max Dollar Amount"
                                               step="100"
                                               type="text"
                                               class="number-input">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-number" (click)="increaseNumberField('maxDollarAmount', 100, false)" type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div *ngIf="strategyForm.get('maxDollarAmount').errors?.required && !strategyForm.get('maxDollarAmount').pristine"
                                     class="alert alert-danger">
                                    Max Dollar Amount is required
                                </div>
                            </c-col>
                        </c-form-group>
                    </c-row>
                    <!--                        LEVERAGE -->

                    <c-row>
                        <c-form-group cCol sm="2">
                            Leverage
                        </c-form-group>

                        <c-form-group cCol sm="3">
                            <c-col md="12">
                                <div class="center">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger btn-number" (click)="decreaseNumberField('leverage', 1, true)" type="button">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </span>
                                        <input [ngClass]="{ 'is-invalid':  (submitted || ctrls?.leverage.touched) && ctrls?.leverage.invalid, 'is-valid': ctrls?.leverage.touched && ctrls?.leverage.valid }"
                                               formControlName="leverage"
                                               id="leverage"
                                               name="input2-group1"
                                               placeholder="Leverage"
                                               step="1"
                                               type="text"
                                               class="number-input">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-number" (click)="increaseNumberField('leverage', 1, true)" type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div *ngIf="strategyForm.get('leverage').errors?.required && !strategyForm.get('leverage').pristine"
                                     class="alert alert-danger">
                                    Leverage is required
                                </div>
                            </c-col>
                        </c-form-group>
                    </c-row>

                    <hr class="mt-0" style="padding-top: 20px;">
                    <!--                    IS ONLY BULLISH-->
                    <c-form-group cRow>
                        <c-form-group cCol>
                            <label cCol cLabel="col" md="3">Is Only Bullish?</label>
                            <c-col col="form-label" md="9">
                                <c-form-check variant="checkbox">
                                    <input (click)="isBullishClicked($event)" cInput formControlName="isOnlyBullish" id="isOnlyBullish"
                                           type="checkbox" value="option1">
                                </c-form-check>
                            </c-col>
                        </c-form-group>
                        <!--                        IS ONLY BEARISH-->
                        <c-form-group cCol>
                            <label cCol cLabel="col" md="3">Is Only Bearish?</label>
                            <c-col col="form-label" md="9">
                                <c-form-check variant="checkbox">
                                    <input (click)="isBearishClicked($event)" cInput formControlName="isOnlyBearish" id="isOnlyBearish"
                                           type="checkbox" value="option1">
                                </c-form-check>
                            </c-col>
                        </c-form-group>
                        <!--                        IS ONLY BEARISH-->
                        <c-form-group cCol>
                            <label cCol cLabel="col" md="3">Is Both Way?</label>
                            <c-col col="form-label" md="9">
                                <c-form-check variant="checkbox">
                                    <input (click)="isBothClicked($event)" cInput formControlName="isBothWay" id="isBothWay"
                                           type="checkbox" value="option1">
                                </c-form-check>
                            </c-col>
                        </c-form-group>
                    </c-form-group>

                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col sm="12">
            <c-card>
                <c-card-header>
                    <strong>Bullish conditions</strong>
                </c-card-header>
                <c-card-body>
                    <ng-container formArrayName="bullishConditions">
                        <ng-container *ngFor="let bullishConditionItem of bullishConditions?.controls; let i = index">
                            <c-row [formGroup]="bullishConditionItem">
                                <!--                       BULLISH CONDITION STATUS;-->
                                <c-form-group cCol sm="1">
                                    <label for="condition">Status</label>
                                    <c-form-check class="checkbox-condition" variant="checkbox">
                                        <input cInput formControlName="status" id="condition" type="checkbox"
                                               value="option1">
                                    </c-form-check>
                                </c-form-group>
                                <!--                      BULLISH CONDITION NOTE -->
                                <c-form-group cCol sm="5">
                                    <label for="conditionNote">Condition Note</label>
                                    <c-input-group>
                                        <c-input-group-prepend>
                                            <c-input-group-text>
                                                <c-icon name="cil-notes"></c-icon>
                                            </c-input-group-text>
                                        </c-input-group-prepend>
                                        <input [ngClass]="{ 'is-invalid':  (submitted || bullishConditionStatusAt(i).touched) && bullishConditionStatusAt(i).invalid, 'is-valid': bullishConditionStatusAt(i).touched && bullishConditionStatusAt(i).valid }" cInput formControlName="statusNote"
                                               id="conditionNote" name="conditionNote1"
                                               placeholder="Condition Note">
                                        <c-input-group-append>
                                            <button (click)="deleteBullishCondition(i)" cButton color="danger"
                                                    shape="pill">
                                                <c-icon name="cil-delete"></c-icon>
                                            </button>
                                        </c-input-group-append>
                                    </c-input-group>
                                    <div *ngIf="bullishConditionStatusAt(i).touched && bullishConditionStatusAt(i).invalid"
                                         class="alert alert-danger">
                                        Condition note is required
                                    </div>
                                </c-form-group>
                            </c-row>
                        </ng-container>
                    </ng-container>

                    <c-col class="mb-3" col="md" sm="4">
                        <button (click)="addBullishCondition()" cButton color="info" shape="pill">
                            <c-icon name="cil-plus"></c-icon>
                            <span>&nbsp;Add</span>
                        </button>
                    </c-col>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col sm="12">
            <c-card>
                <c-card-header>
                    <strong>Bearish conditions</strong>
                </c-card-header>
                <c-card-body>
                    <ng-container formArrayName="bearishConditions">
                        <ng-container *ngFor="let bearishConditionItem of bearishConditions?.controls; let i = index">
                            <c-row [formGroup]="bearishConditionItem">
                                <!--                       BEARISH CONDITION STATUS;-->
                                <c-form-group cCol sm="1">
                                    <label for="condition1">Status</label>
                                    <c-form-check class="checkbox-condition" variant="checkbox">
                                        <input cInput formControlName="status" id="condition1" type="checkbox"
                                               value="option1">
                                    </c-form-check>
                                </c-form-group>
                                <!--                      BEARISH CONDITION NOTE -->
                                <c-form-group cCol sm="5">
                                    <label for="conditionNote1">Condition Note</label>
                                    <c-input-group>
                                        <c-input-group-prepend>
                                            <c-input-group-text>
                                                <c-icon name="cil-notes"></c-icon>
                                            </c-input-group-text>
                                        </c-input-group-prepend>
                                        <input [ngClass]="{ 'is-invalid':  (submitted || bearishConditionStatusAt(i).touched) && bearishConditionStatusAt(i).invalid, 'is-valid': bearishConditionStatusAt(i).touched && bearishConditionStatusAt(i).valid }" cInput formControlName="statusNote"
                                               id="conditionNote1" name="conditionNote1"
                                               placeholder="Condition Note">
                                        <c-input-group-append>
                                            <button (click)="deleteBearishCondition(i)" cButton color="danger"
                                                    shape="pill">
                                                <c-icon name="cil-delete"></c-icon>
                                            </button>
                                        </c-input-group-append>
                                    </c-input-group>
                                    <div *ngIf="bearishConditionStatusAt(i).touched && bearishConditionStatusAt(i).invalid"
                                         class="alert alert-danger">
                                        Condition note is required
                                    </div>
                                </c-form-group>
                            </c-row>
                        </ng-container>
                    </ng-container>

                    <c-col class="mb-3" col="md" sm="4">
                        <button (click)="addBearishCondition()" cButton color="info" shape="pill">
                            <c-icon name="cil-plus"></c-icon>
                            <span>&nbsp;Add</span>
                        </button>
                    </c-col>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col sm="12">
            <c-card>
                <c-card-header>
                    <strong>Take Profit Inputs</strong>
                </c-card-header>
                <c-card-body>
                    <ng-container formArrayName="takeProfitInputs">
                        <ng-container *ngFor="let takeProfitInputItem of takeProfitInputs?.controls; let i = index">
                            <c-row [formGroup]="takeProfitInputItem">
                                <c-form-group cCol sm="3">
                                    <label for="condition1">Price Percent</label>
                                    <c-input-group>
                                        <input [ngClass]="{ 'is-invalid':  (submitted || takeProfitPricePercentAt(i).touched) && takeProfitPricePercentAt(i).invalid, 'is-valid': takeProfitPricePercentAt(i).touched && takeProfitPricePercentAt(i).valid }" cInput
                                               formControlName="pricePercent"
                                               id="pricePercent"
                                               name="pricePercent"
                                               placeholder="Price Percent"
                                               step="1"
                                               type="number">
                                        <c-input-group-append>
                                            <c-input-group-text>%</c-input-group-text>
                                        </c-input-group-append>
                                    </c-input-group>
                                </c-form-group>

                                <c-form-group cCol sm="3">
                                    <label for="condition1">Quantity Percent</label>
                                    <c-input-group>
                                        <input [ngClass]="{ 'is-invalid':  (submitted || takeProfitPricePercentAt(i).touched) && takeProfitPricePercentAt(i).invalid, 'is-valid': takeProfitPricePercentAt(i).touched && takeProfitPricePercentAt(i).valid }" cInput
                                               formControlName="quantityPercent"
                                               id="quantityPercent"
                                               name="quantityPercent"
                                               placeholder="Quantity Percent"
                                               step="1"
                                               type="number">
                                        <c-input-group-append>
                                            <c-input-group-text>%</c-input-group-text>
                                            <button (click)="deleteTakeProfitInput(i)" cButton color="danger"
                                                    shape="pill">
                                                <c-icon name="cil-delete"></c-icon>
                                            </button>
                                        </c-input-group-append>
                                    </c-input-group>
                                </c-form-group>
                                <div *ngIf="takeProfitPricePercentAt(i).touched && takeProfitPricePercentAt(i).invalid"
                                     class="alert alert-danger">
                                    Price and Quantity Percents are required
                                </div>
                            </c-row>
                        </ng-container>
                    </ng-container>

                    <c-col class="mb-3" col="md" sm="4">
                        <button (click)="addTakeProfitInput()" cButton color="info" shape="pill">
                            <c-icon name="cil-plus"></c-icon>
                            <span>&nbsp;Add</span>
                        </button>
                    </c-col>
                </c-card-body>
                <c-card-footer>
                    <button [disabled]="!strategyForm.valid" cButton class="mfe-1" color="success" size="sm"
                            type="submit"><i class="cil-check-circle"></i>
                        Submit
                    </button>
                    {{strategyForm.errors}}
                    <button (click)="goBack()" cButton color="danger" size="sm" type="reset"><i
                            class="cil-ban"></i> Cancel
                    </button>
                </c-card-footer>
            </c-card>
        </c-col>
    </c-row>
</form>
